/*MATTHIEU CORONT DUCLUZEAU*/




body {
    background-image: url("background.jpg");
    background-size: 100%;
}


div{
	margin-bottom: 5px;

}

input{
	display: block;
	margin-bottom: 5px;
}